/** {
    outline: 1px solid red;
}
*/

body {
    background-color: #7f7f7f;
    margin: 0 auto;
    text-align: center;
    font-family: "Tibetan Machine Uni";
    color: #454545;

}

header {
    width: 30%;
    margin: 0 auto;
    margin-top: 2em;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: black 3px 3px;
}

.quote-container {
    width: 50%;
    background-color: lightgrey;
    margin: 0 auto;
    margin-top: 30px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: black 3px 3px;
    position: relative;
}

.quote-text {
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.quote-text span {
    margin-bottom: 70px;
}

.author {
    font-weight: bold;
    font-style: italic;
    font-size: 26px;
    color: #262626;
}

.quote-button {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    flex: 1;
}

button {
    outline: none;
    border: 2px solid #112142;
    background-color: ghostwhite;
    padding: 15px;
    border-radius: 5px;
    box-shadow: black 3px 3px;
    margin: 0 20px;
    transition: 0.1s linear;
}

button:hover {
    background-color: chocolate;
}

button:active{
    transform: translateY(4px);
}

button.tweet:hover {
    background: #00aced;
}

.footer-container {
    width: 25%;
    height: 100px;
    background-color: lightgrey;
    margin: 30px auto;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: black 3px 3px;
    position: relative;

}
.footer-container h5 {
    margin-top: 10px;
}

.icons-container {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}

.icons-container a {
    margin: 0 20px;
}

a {
    color: #454545;
}

a:hover {
    color: #ffffff;
}







