/** {
    outline: 1px solid red;
}
*/

body {
    background-color: #7f7f7f;
    margin: 0 auto;
    text-align: center;
    font-family: "Tibetan Machine Uni", serif;
    color: #454545;

}

header {
    margin: 1% 40%;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: black 3px 3px;
    overflow: hidden;
}

.quote-container {
    background-color: lightgrey;
    margin: 1% 30%;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: black 3px 3px;
    overflow: hidden;

}

.quote-text {
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.author {
    font-weight: bold;
    font-style: italic;
    font-size: 26px;
    color: #262626;
}

.quote-button {
    margin-bottom: 20px;
    flex: 1;
}

button {
    outline: none;
    border: 2px solid #112142;
    background-color: ghostwhite;
    padding: 15px;
    border-radius: 5px;
    box-shadow: black 3px 3px;
    margin: 0 20px;
    transition: 0.1s linear;
}

button:hover {
    background-color: chocolate;
}

button:active{
    transform: translateY(4px);
}

button.tweet:hover {
    background: #00aced;
}

footer {
    padding: 0 20px;
}

.footer-container {
    max-width: 500px;
    min-height: 100px;
    background-color: lightgrey;
    margin: 1% 40%;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: black 3px 3px;

}
.footer-container h5 {
    margin-top: 10px;
}

.icons-container {
    margin-bottom: 15px;
}

.icons-container a {
    margin: 10px 10px;
}

a {
    color: #454545;
}

a:hover {
    color: #ffffff;
}







